		<td colspan="14" class="row">
			<div class="col-md-3"><div id="patients-image-<%%VALUE(id)%%>" class="patients-image"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image)%%>" data-lightbox="patients-image"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=patients&f=image&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="patients-last_name-caption field-caption-tv">Last name</dt>
					<dd id="patients-last_name-<%%VALUE(id)%%>" class="patients-last_name"><%%VALUE(last_name)%%></dd>

					<dt class="patients-first_name-caption field-caption-tv">First name</dt>
					<dd id="patients-first_name-<%%VALUE(id)%%>" class="patients-first_name"><%%VALUE(first_name)%%></dd>

					<dt class="patients-gender-caption field-caption-tv">Gender</dt>
					<dd id="patients-gender-<%%VALUE(id)%%>" class="patients-gender"><%%VALUE(gender)%%></dd>

					<dt class="patients-sexual_orientation-caption field-caption-tv">sexual_orientation</dt>
					<dd id="patients-sexual_orientation-<%%VALUE(id)%%>" class="patients-sexual_orientation"><%%VALUE(sexual_orientation)%%></dd>

					<dt class="patients-age-caption field-caption-tv">Age</dt>
					<dd id="patients-age-<%%VALUE(id)%%>" class="patients-age"><%%VALUE(age)%%></dd>

					<dt class="patients-state-caption field-caption-tv">State</dt>
					<dd id="patients-state-<%%VALUE(id)%%>" class="patients-state"><%%VALUE(state)%%></dd>

					<dt class="patients-mobile-caption field-caption-tv">Mobile</dt>
					<dd id="patients-mobile-<%%VALUE(id)%%>" class="patients-mobile"><%%VALUE(mobile)%%></dd>

					<dt class="patients-tobacco_usage-caption field-caption-tv">Tobacco usage</dt>
					<dd id="patients-tobacco_usage-<%%VALUE(id)%%>" class="patients-tobacco_usage"><%%VALUE(tobacco_usage)%%></dd>

					<dt class="patients-alcohol_intake-caption field-caption-tv">Alcohol Intake</dt>
					<dd id="patients-alcohol_intake-<%%VALUE(id)%%>" class="patients-alcohol_intake"><%%VALUE(alcohol_intake)%%></dd>

					<dt class="patients-history-caption field-caption-tv">History</dt>
					<dd id="patients-history-<%%VALUE(id)%%>" class="patients-history"><%%VALUE(history)%%></dd>

					<dt class="patients-surgical_history-caption field-caption-tv">Surgical history</dt>
					<dd id="patients-surgical_history-<%%VALUE(id)%%>" class="patients-surgical_history"><%%VALUE(surgical_history)%%></dd>

					<dt class="patients-obstetric_history-caption field-caption-tv">Obstetric history</dt>
					<dd id="patients-obstetric_history-<%%VALUE(id)%%>" class="patients-obstetric_history"><%%VALUE(obstetric_history)%%></dd>

					<dt class="patients-genetic_diseases-caption field-caption-tv">Genetic diseases</dt>
					<dd id="patients-genetic_diseases-<%%VALUE(id)%%>" class="patients-genetic_diseases"><%%VALUE(genetic_diseases)%%></dd>

				</dl>
			</div>
		</td>
